.about {
    display: flex;
    height: 400px; /* or whatever height you want */
    overflow: hidden; /* Important to hide the overflow from clip-path */
    position: relative; 
}

.image-side, .content-side {
    flex: 1; /* Each takes half the width */
    height: 100%;
    position: relative;
}

/* Clip the left half (image side) to have a diagonal split */
.image-side {
    background: url('../Assets/char2d.png') no-repeat center center;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 100%);
}

/* Clip the right half (content side) to match the diagonal from the left half */
.content-side {
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.hero{
    font-family:'Pixeboy', sans-serif;
    font-size: 50px;
    text-align: center;
}

.description{
    font-family:'Pixeboy', sans-serif;
    font-size: 30px;
    text-align:start;
}
.menu-button{
    width: 100px;
    height: 30px;
    border: 2px solid black;
    text-align: center;
    position: relative;
}
.menu-link{
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 1; 
    position: absolute;  
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}
.menu-link:hover{
    background-color: rgba(95, 222, 17, 0.86); 
    cursor: pointer;
}
