@font-face{
    font-family: 'Pixeboy';
    src: url('../Assets/pixeboy-font/Pixeboy-z8XGD.ttf');
}

.about {
    top: 0;  /* Add this. This will push the about section down by 120px */
    display: flex; 
    justify-content: space-between;
    position: relative;
    width: 100vw; 
    height: 300px;
}

.image-side img {
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

.content-side {
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    justify-content: center; /* Center them vertically */
    align-items: flex-start; /* Align to the left */
    padding: 20px; /* Some padding for spacing */
    margin-right: 30px;
}

.hero {
    margin-bottom: 10px; /* Some space below the heading */
    font-family:'Pixeboy', sans-serif;
}

.description {
    margin-bottom: 20px; /* Some space above the button */
    font-family: 'Pixeboy', sans-serif;
    font-size: 25px;
}

.menu-link {
    border: none;
    padding: 10px 20px;
    color: black;
    text-transform: uppercase;
    font-family: 'Pixeboy', sans-serif;
    font-size: 15px;
    border: 2px solid black;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    position: relative;
    overflow: hidden; /* Hide the overflow of the pseudo-element */
    background: transparent; /* Make sure the button itself doesn't have a background */
}

.menu-link::before {
    content: '';
    background: linear-gradient(90deg, blue, transparent);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0; /* Starts without any width */
    transition: width 0.5s ease; /* This will animate the width */
    z-index:0; /* Ensures the background is behind the text/content of the button */
}

.menu-link:hover::before {
    width: 100%; /* On hover, the pseudo-element's width becomes 100% of the button, revealing the gradient */
    color:#fff;
}
