* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
    margin: 0;
}

@media screen and (max-width: 768px) {
    .link .text {
        display: none; 
    }
    .header {
        height: auto; 
    }

    .nav {
        height: 60px; 
    }

    .links {
        top: 5%; 
    }
    .about h1, .about h2, .about p {
      font-size: 18px;
  }

  .form-input {
      width: 90%;
  }

  .log-forms, .log-img {
      width: 100%;
  }

  .log-text {
      left: 30px;
  }
}

@media (max-width: 480px) {
 

  .footer {
      font-size: 18px;
      padding: 10px 0;
  }

  .log-text {
      font-size: 36px;
      top: 15px;
      left: 15px;
  }
}


 