@font-face{
    font-family: 'Pixeboy';
    src: url('../Assets/pixeboy-font/Pixeboy-z8XGD.ttf');
}
*{
  padding: 0;  
  margin: 0;
  box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.header{
    width: 100vw;
    height: 400px;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    height: 60px;
    position: absolute;
    top: 0;
    left: 50%;  /* Center the navigation bar */
    margin-top: 50px;
    transform: translateX(-50%);  /* Adjust position based on its own width */
    z-index: 1;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
}
.link{
    color: rgba(255, 255, 255, 0.90);
    text-decoration: none;
    list-style: none;
    font-size: 25px;
    position: relative; /* This is important for the pseudo-element to be positioned correctly */
    padding-bottom: 5px; /* A little space for the underline */
    overflow: hidden; /* So that the pseudo-element doesn't show outside the link's boundaries */
}

.link::before {
    content: "";
    position: absolute;
    width: 0%; 
    height: 2px; /* Height of the underline */
    bottom: 0;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.90); /* Color of the underline (same as the text for now) */
    transition: all 0.3s;
}

.link:hover::before {
    width: 100%; 
    left: 0;
}

.logo {
    width: 10vw;
    height: 10vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 20px;  /* Adjust this value for desired space from the left edge */
    margin-top: 50px;
    z-index: 1;
}
.banner{
    position: relative;
    width: 100%;
    height: 100%;
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.86);
    text-align: center;
    color: #fff;
    font-size: 50px;
}
